@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');
:root{
  --dark-blue: #072AC8;
  --close-white: #F8F9FA;
  --dark-grey: #595F65;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--close-white);
  margin-bottom: 1rem;
}
.upperSection{
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.container{
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 10%;
  flex-wrap: wrap-reverse;
}
.textSection{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
}
.mainBio{
  display: flex;
  flex-direction: column;
}
#mainTitle{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 54px;
  color: var(--close-white);
}
#generate{
  width: 300px;
  height: 58px;
  background-color: var(--close-white);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#generateText{
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
#pokeball{
  position: absolute;
  top: 2%;
  right: 10%;
  opacity: 0.5;
  display: none;
}
.pokeBioSection{
  max-height: 400px;
  width: 95%;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 auto;
  margin-top: 2rem;
}
.upperBio{
  display: block;
}
.type{
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  height: fit-content;
  width: fit-content;
}
.typeOuterContainer{
  display: flex;
  justify-content: space-around;
  margin-bottom: .75rem;
}
.typeContainer{
  height: 30px;
  display: flex;
  padding: 0 5% 0 5%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
}
#pokemonName{
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  color: var(--dark-blue);
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-bottom: .75rem;
}
.bioBio{
  display: flex;
  justify-content: space-around;
}
.bioImage{
  display: flex;
  justify-content: center;
}
.header{
  font-size: 24px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.heightSection, .weightSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#height, #weight{
  margin: 0;
  text-align: center;
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 500;
  color: var(--dark-grey);
}
.bannedTypes{
  height: 200px;
  width: 90%;
  background-color: #F14B3D;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
}
#bannedHeader{
  font-size: 32px;
  font-weight: 600;
  color: var(--close-white);
  margin: 0;
  font-family: 'Poppins', sans-serif;
  margin-top: 1rem;
}
@media screen and (min-width: 1024px) {
  .mainBio{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding: 2.5rem;
  }
  .bioBio{
    justify-content: space-between;
  }
  .bioImage{
    display: block;
  }
  .pokeBioSection{
    padding-bottom: 0rem;
    width: 700px;
    margin: 0;
  }
  .upperBio{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #pokemonName{
    text-align: left;
    margin-bottom: 0;
  }
  .bannedTypes{
    height: 400px;
    width: 250px;
    background-color: #F14B3D;
    border-radius: 20px;
    text-align: center;
  }
  .textSection{
    width: 1024px;
  }
  .typeOuterContainer{
    margin-bottom: 0;
    width: 400px;
  }
  #pokeball{
    display: block;
  }
}